/* Colours and fonts */

body {
    font-family:
        "Source Sans Pro","Trebuchet MS","Lucida Grande",
        "Bitstream Vera Sans","Helvetica Neue","sans-serif";

    background-color: white;
    color: #293c4b;
}

h1, h2 {
    background-color: #1f1f3c;
    color: white;
    padding: 1vh;
    text-align: center;
    width: 100%;
}

a { color: #1f1f3c; }

tt,code {
    background-color: #2d2d2d;
    color: #66cccc;
    overflow: auto;
    max-width: 90vw;
}

code em { color: #0f0; }
code i { color: #ff0; }

sub,sup {
    font-size: 50%;
}

/* Document structure */

* {
    box-sizing: border-box;
}

html,body {
    padding: 0vh;
    margin: 0vh;
}

body {
    font-size: 5.5vh;
}

section,header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 5vh 4vw;
    break-after: always
}

header div {
    text-align: center;
    font-size: 90%;
}

h1 {
    margin-top: 15vh;
    margin-bottom: 15vh;
    font-size: 180%;
}

h2 {
    font-size: 150%;
    margin-bottom: 4vh;
}

a {
    text-decoration: inherit;
}

p {
    margin-bottom: 2vh;
    margin-top: 1vh;
}

section > ul {
    margin-left: 8vw;
    margin-top: 2vh;
    min-width: 55vw;
}

section > ul ul {
    margin-top: 2vh;
}

li {
    margin-bottom: 1vh;
}

li ul li {
    font-size: 100%;
}

tt,code {
    white-space: pre;
    font-size: 70%;
    overflow: auto;
}

tt {
    border-radius: 0.3vw;
    padding: 0.8vw;
}

code {
    display: block;
    border-radius: 0.5vw;
    padding: 1.4vw;
}

code em,i {
    font-style: normal;
}

img {
    max-width: 80vw;
    max-height: 70vh;
    margin-left: auto;
    margin-right: auto;
}

div.cc {
    right: 2vw;
    position: absolute;
    margin-top: 2%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 10px;
    height: 31px;
}

div.cc img {
    float: right;
    width: 88px;
    height: 31px;
    border-width: 0px;
    height: 31px;
    margin-left: 1vh;
}

address {
    font-size: 1.5vw;
}

.moreinfo {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 3vh;
    grid-column-gap: 5vh;
    align-items: center;
    margin: auto;
    font-size: 1.6vw;
}

.moreinfo h2 {
    margin-bottom: 0vh;
}

.moreinfo h3 {
    font-size: 4vh;
    text-align: right;
    font-weight: 500;
    margin-right: 1vw;
}

.moreinfo img {
   height: 30vh;
}

.moreinfo > div {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 90%;
    text-align: center;
}
